_lightblue = #40a9ff//浅蓝
_blue = #1890ff//蓝
_deepblue = #096dd9//深蓝
_red = #f5222d//红
_deepred = #cf1322//红
_purple = #722ed1//紫
_cyan = #13c2c2//青
_green = #52c41a//绿
_magenta = #eb2f96//品红
_pink = #eb2f96//粉
_orange = #fa8c16//橘
_yellow = #fadb14//黄
_volcano = #fa541c//火山色
_geekblue = #2f54eb//极客蓝
_lime = #a0d911//青柠
_gold = #faad14//金
_white = #FFFFFF
_black = rgba(0, 0, 0, 0.65)
_gray = #d9d9d9
_lightgray = #f5f5f5

zero = 0

@keyframes Click

    to{
        opacity 0
        border-width: 6px
        top: -6px
        bottom: -6px
        left: -6px
        right: -6px
    }