@import '../../style/default.styl';
.radio
    appearance:none
    -moz-appearance: none
    -webkit-appearance: none
    border: 1px solid _gray
    width: 16px
    height: 16px
    border-radius: 50%
    outline: none
    cursor: pointer
    line-height: 16px
    margin: zero zero zero zero
    position: relative
    transition: .4s
    vertical-align: middle
    &:hover
        border-color: _blue
.radioText
    padding: 0 8px
.label
    cursor: pointer
    line-height: 16px
    margin-right: 8px
    & input[type='radio']:checked
        border-color: _blue
        &:after
            content: ''
            position: absolute
            top: 50%
            left: 50%
            transform: translateY(-50%)translateX(-50%)
            width: 8px
            height: 8px
            border-radius:50%
            background-color: _blue
.disabled
    cursor: not-allowed
    color: _gray
    & input[type='radio']
        &:hover
            border-color:_gray
        &:checked
            border-color: _gray
            &:after
                background-color: _gray
.radioGroup
    display: inline-block
.labelButton
    border-top: 1px solid _gray
    border-bottom: 1px solid _gray
    border-left:  1px solid _gray
    height: 32px
    line-height: 32px
    box-sizing: border-box
    display: inline-block
    color: _black
    padding: 0 15px
    cursor: pointer
    position: relative
    &:hover
        color: _blue
    &:last-child
        border-right: 1px solid _gray
        border-radius: 0 4px 4px 0;
        & input[type='radio']:checked+.radioBox
            &:after
                border-radius 0 4px 4px 0
    &:first-child
        border-radius: 4px 0 0 4px;
        & input[type='radio']:checked+.radioBox
            &:after
                border-radius 4px 0 0 4px
    & input[type='radio']:checked+.radioBox
        color: _blue
        &:after
            content:''
            position absolute
            z-index: 1
            top: -1px
            right: -1px
            left: -1px
            bottom: -1px
            border: 1px solid _blue
.radioButton
    display: none