@import '../../style/default.styl';

.breadcrumb
    color: _gray
    a
        color: _gray
        text-decoration: none
        &:hover
            color: _lightblue
    b
        margin: 0 8px
.lastchild
    color: black